body {
  padding-top: 50px;
}

.navbar-form label {
	color:#9d9d9d;
}
.starter-template {
	
  padding: 40px 15px;
  text-align: center;
}

.panel-group {
	text-align: left;
}

.panel-group pre {
	min-height:40px;
}

.panel-heading span:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading span.collapsed:after {
    content:"\e080";
}

#errorPanel {
	display: none;
	height:50px;
	padding:10px;
}

#apiKey-input {
	width:100%;
}

#userId-input {
	margin-right:50px;
}

#connect-formGroup {
	width:290px;
}

#language-select {
	max-width:150px;
}